[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
bandit = "*"
prospector = "*"

[packages]
django = "==2.2.24"
djangorestframework = "*"

[requires]
python_version = "3.6"
